.container {
  max-width: 512px;
  margin: auto;
}

.heading {
  font-size: var(--font-size-heading);
  font-weight: 700;
  margin: 16px 0;
}

.deals {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.deal {
  max-width: 512px;
}

@media (min-width: 900px) {
  .container {
    max-width: 100%;
  }

  .deals {
    flex-direction: row;
    gap: 24px;
  }

  .deal:first-child {
    max-width: 512px;
    flex-grow: 1;
  }
}