html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
  color: #000000de
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
